## SLIM BPR for RecSYS

In [1]:
import time
import pickle
import math
import pandas as pd
import numpy as np
import scipy.sparse
from sklearn import preprocessing

print("succesful import")

succesful import

In [2]:
SUBMISSION = False
SUBMISSION_FILENAME = 'submission.csv'
TEST_FILENAME = 'test.csv'

In [3]:
target_playlists = pd.read_csv('datasets/target_playlists.csv', sep='\t')
target_tracks = pd.read_csv('datasets/target_tracks.csv', sep='\t')
tracks_final = pd.read_csv('datasets/tracks_final.csv', sep='\t')
playlists_final = pd.read_csv('datasets/playlists_final.csv', sep='\t')
train_final = pd.read_csv('datasets/train_final.csv', sep='\t')

print('Successfully read data')

Successfully read data

In [4]:
print('Data info:')
print('Unique tracks count: {}'.format(tracks_final['track_id'].nunique()))
print('Unique playlist count: {}'.format(playlists_final['playlist_id'].nunique()))
print('Target tracks count: {}'.format(target_tracks['track_id'].nunique()))
print('Target playlists count: {}'.format(target_playlists['playlist_id'].nunique()))

Data info:
Unique tracks count: 100000
Unique playlist count: 57561
Target tracks count: 32195
Target playlists count: 10000

In [5]:
print(tracks_final.head())

   track_id  artist_id  duration  playcount   album  \
0   2972914        144    224000       49.0     [7]
1   2750239        246    157000        1.0     [8]
2   1550729        144    217000      554.0     [9]
3   2169950        144    207000      200.0     [9]
4   1903709        144    198000        5.0  [None]

                                     tags
0     [54087, 1757, 1718, 116712, 189631]
1   [189631, 3424, 177424, 46208, 205245]
2   [54087, 109806, 46869, 183258, 54337]
3  [54087, 70618, 207003, 109806, 116712]
4   [54087, 81223, 116712, 215342, 71028]

In [11]:
tracks_final.tags.head(1)[0][1]

'5'

In [40]:
tracks_final.head(1)

,track_id,artist_id,duration,playcount,album,tags
0,2972914,144,224000,49.0,[7],"[54087, 1757, 1718, 116712, 189631]"

In [41]:
playlists_final.head(1)

   created_at  playlist_id    title  numtracks  duration  owner
0  1216545588       644838  [12727]         27      6522  41504

In [42]:
train_final.head(1)

   playlist_id  track_id
0      3271849   2801526

In [50]:
import gc as gc
gc.collect()

500